#wp-admin-bar-thegem-theme-options > a {background: #3a96a3;color: #fff;}
#wp-admin-bar-thegem-support-center > a {background: #0073aa;color: #fff;}
#wp-admin-bar-thegem-documentation > a {background: #47b39c;color: #fff;}